---------- this is a system generated email, please do not reply -----------
${staticMessage}
Submitted By:${submittedUser.lastName},${submittedUser.firstName}
Total Cost:${order.totalPrice}
Please process it through url at: ${applicationURL}

